:root{
	--white: hsl(0, 0%, 100%);
 	--light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);

	--br-radius-400: 1rem;
	--br-radius-300: 0.6rem;

	/* qr-code */
	--qr-box-shadow: 0 1.2rem 1.2rem hsla(0,0%,30%,0.1);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
}
body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* general styles */

body{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--light-gray);
}

/* QR code card styles */

.qr-code{
	width: 320px;
	max-width: 320px;
	padding: 0.9375rem;
	background-color: var(--white);
	border-radius: var(--br-radius-400);
	box-shadow: var(--qr-box-shadow);
}

.qr-code__image-wrapper{
	overflow: hidden;
	border-radius: var(--br-radius-300);
}

.qr-code__headline{
	margin: 1.6525rem 0 1.075rem 0;

	color: var(--dark-blue);
	text-align: center;
	font-size: 1.375rem;
	
	line-height: 1.2;
}

.qr-code__hint{
	padding-inline: 0.9375rem;
	margin-bottom: calc(2.5125rem - 1rem);
	color: var(--grayish-blue);
	font-size: 0.9375rem; 
	text-align: center;

	line-height: 1.3;
	transform: scale(1.025, 1.03);
}
